<%- partial('_partial/head') %>
<body>
  <div id="container">

    <div class="left-col" style="background-image: url('http://img1.mydrivers.com/img/20160614/s_8d9336a5942c4c0080530967f004448e.jpg');">
    <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>


    <div class="mid-col">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div class="body-wrap"><%- body %></div>
      <%- partial('_partial/footer') %>
    </div>


    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
